<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="ProteinFileRepositoryPath" value="Amyload2Excel.csv" /><!--Scieżka do pliku z białkami-->
    <add key="CsvResultFile" value="res.csv" /><!--Scieżka do pliku wynikowego CSV-->
    <add key="Databases" value="5" /><!--Podaj rodzaj bazy(numer): WALTZ-DB-0, AmylHex-1, AmylFrag-2, AGGRESCAN-3, TANGO-4, AmyLoad-5"-->
    <add key="Holdout" value="false" /><!--Wymusza holdout-->
    <add key="Percentage" value="true" /> <!-- true = Stosuje procenty jako wskaźnik liczby białek wykorzystywanych z bazy, false = wpisz ręcznie-->
    <add key="PercentageOfExamplesToLernHoldout" value="15" /><!--Procentowa wartość liczby użytych białek do badań np. 66 oznacza, że 66% bedzie użytych do uczenia a reszta do testów -->
    <add key="PercentageOfExampleToUse" value="100" /><!--Procentowa wartość liczby białek, które mają zostać wykorystane z bazy-->
    <add key="m" value="10" /> <!-- liczba powtorzeń-->
    <add key="k" value="10" /><!-- liczba foldów-->
    
    <add key="NegativeExamplesCount" value="10" /><!--obecnien nie używane-->
    <add key="PositiveExamplesCount" value="10" /><!--obecnien nie używane-->
    
    <add key="AntColoniesCount" value="20" />
    <add key="AntsColonyCount" value="25" />
    <add key="Feromon" value="3" />
    <add key="IterationColonyCount" value="5" />
    <add key="AntHillSize" value="10" />
    <add key="NeiboursListSize" value="120" />
    <add key="MinFeromon" value="2" />
    <add key="MaxFeromon" value="30" />
    <add key="DywersyficationTime" value="4" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>