<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="Test" value="true" />
    <add key="ProteinFileRepositoryPath"
         value="C:\Users\Małgorzata\Documents\Visual Studio 2015\Projects\Bioinformatics\Bioinformatics.Buissness.Host\bin\Amyload2Excel.csv" />
    <add key="ProteinGraphFileRepositoryPath" value="C:\MyBase" />
    <add key="VerificationResultFileRepositoryPath" value="res.txt" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_IAntsManager" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:17492/AntsService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IAntsManager"
                contract="ServiceRef.IAntsManager" name="MetadataExchangeHttpBinding_IAntsManager" />
    </client>
  </system.serviceModel>
</configuration>